<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.crud.jo.demorice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WeatherActivity"
            android:label="@string/app_name_weather"
            android:parentActivityName=".Users_Main"
            android:theme="@style/Weather.AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Users_Main" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".WeatherActivity"
            android:theme="@style/Weather.AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".WeatherActivity" />
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".DisplayUserDataActivity" />
        <activity android:name=".Main" />
        <activity android:name=".Users_Main" />
        <activity android:name=".weed_list" />
        <activity android:name=".soil_list" />
        <activity android:name=".ferilizer_list" />
        <activity android:name=".RiceMember_list" />
        <activity android:name=".FertilizerMember_list" />
        <!-- <activity android:name=".ferilizer_list"></activity> -->
        <!-- <activity android:name=".ferilizer_list"></activity> -->
        <activity android:name=".ShowDetailActivity"></activity>
    </application>

</manifest>